@charset "UTF-8";
.form-restorePassword {
  padding-top: 178px;
}

.title-restorePassword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-text {
  margin-left: 16px;
}

.form-text {
  width: 368px;
  height: 38px;
  margin: 32px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 130%;
  color: #A1ABC9;
}

#submit-restorePassword {
  width: 214px;
}

input {
  width: 368px;
  height: 56px;
  margin: 20px 0;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #DCE0EC;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

input:focus {
  border: 1px solid #7297FF;
}

.input-email {
  background: url(/sourse/images/Vector.png) no-repeat center left 20px;
  padding-left: 63px;
  background-color: #FFFFFF;
}

.input-password {
  background: url(/sourse/images/lock.png) no-repeat center left 20px;
  padding-left: 63px;
  background-color: #FFFFFF;
}

.input-name {
  background: url(/sourse/images/user.png) no-repeat center left 20px;
  padding-left: 63px;
  background-color: #FFFFFF;
}

.input-confirmPassword {
  background: url(/sourse/images/check.png) no-repeat center left 20px;
  padding-left: 63px;
  background-color: #FFFFFF;
}

.password-control {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 39px;
  right: 25px;
  background: url(/sourse/images/eye-slash.png) no-repeat center;
}

.view {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 39px;
  right: 25px;
  background: url(/sourse/images/eye.svg) no-repeat center;
}

.input-submit {
  width: 146px;
  height: 56px;
  margin: 44px 0 32px;
  border-radius: 8px;
  background: url(/sourse/images/angle-right-b.png) no-repeat center right 20px, #7297FF;
  padding-right: 32px;
  color: #FFFFFF;
  cursor: pointer;
}

.email,
.password {
  position: relative;
}

.arrowLeft {
  width: 25px;
  background: url(/sourse/images/angle-left-b.png) no-repeat;
}

.warning-text_name,
.warning-text_surname,
.warning-text_email,
.warning-text_pass,
.warning-text_confirm,
.warningSignIn-text_email,
.warningSignIn-text_pass,
.warningRestore-text_email {
  display: none;
  position: absolute;
  bottom: 5px;
  font-size: 13px;
  letter-spacing: -0.24px;
  color: #F6657F;
}

.warningInput {
  position: relative;
  border: 1px solid #F6657F;
}

.active {
  position: relative;
  display: block;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 85px;
}

.footer span {
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  color: #A1ABC9;
}

.footer_signIn {
  margin-top: 24vh;
}

.wrapper {
  position: relative;
  max-width: 1920px;
  height: 1024px;
  padding: 0 64px;
  background: #E4EBFF;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo .logo-img {
  width: 29px;
  height: 32px;
  margin-right: 10px;
}

.header-logo .logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 15px;
}

.header_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 16px;
}

.header_user-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #202225;
}

.header_user-profession {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 130%;
  color: #A1ABC9;
}

.header_user-foto {
  position: relative;
  width: 40px;
  height: 40px;
  background: url(/sourse/images/doctors/mirandaNelson.png) no-repeat;
}

.header_user-status {
  position: absolute;
  right: 0px;
  width: 12px;
  height: 12px;
  background: #34C197;
  border: 3px solid #E3EBFF;
  border-radius: 50%;
}

.main {
  padding: 40px 0 40px 48px;
  max-width: 1792px;
  height: 896px;
  background-color: #F9FAFF;
  -webkit-box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.32);
          box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.32);
  border-radius: 16px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 40px;
  margin-right: 10px;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0px 4px 32px rgba(218, 228, 255, 0.24));
          filter: drop-shadow(0px 4px 32px rgba(218, 228, 255, 0.24));
  background: #FFFFFF;
}

.menu_item .item-link {
  color: #7297FF;
}

.item-link {
  text-align: center;
  text-decoration: none;
  line-height: 140%;
  font-size: 15px;
}

.activeMenuItem {
  background: #7297FF;
}

.activeMenuItem .item-link {
  color: #FFFFFF;
}

.board_empty,
.board_card {
  margin-top: 56px;
}

.board_title {
  color: #202225;
  font-size: 24px;
}

.board_empty-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 260px;
}

.board_empty-text {
  margin-top: 35px;
}

.empty-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  color: #A1ABC9;
  text-align: center;
}

.board_card-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
  max-height: 680px;
  list-style-type: none;
  overflow-y: auto;
}

.card-item {
  width: 406px;
  height: 264px;
  margin-right: 20px;
  margin-bottom: 24px;
  padding: 24px 32px 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.24);
          box-shadow: 0px 4px 32px rgba(218, 228, 255, 0.24);
  border-radius: 12px;
}

.card_header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
}

.card_header::before {
  position: absolute;
  top: 75px;
  right: -32px;
  content: '';
  background-color: #DCE0EC;
  width: 406px;
  height: 1px;
}

.card_header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_header-foto {
  position: relative;
  width: 48px;
  height: 48px;
}

.card_header-about {
  margin: 11px 17px;
}

.card_header-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 130%;
  color: #202225;
  margin-bottom: 5px;
}

.card_header-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.status {
  width: 12px;
  height: 12px;
  background: #34C197;
  border: 3px solid #E3EBFF;
  border-radius: 50%;
}

.status-text {
  margin-left: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 130%;
  color: #A1ABC9;
}

.card_header-more {
  width: 24px;
  height: 24px;
  background: url(/sourse/images/icons/more-vertical.png) no-repeat center;
}

.card_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 55px 0px 40px;
}

.card_main-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_main-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.date-icon {
  width: 24px;
  height: 24px;
  background: url(/sourse/images/icons/clock-three.png) no-repeat center;
}

.note-icon {
  width: 69px;
  height: 24px;
  background: url(/sourse/images/icons/clipboard-blank.png) no-repeat center;
}

.date-text {
  margin-left: 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #202225;
}

.note-text {
  margin-left: 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  color: #202225;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.body {
  height: 1024px;
  max-width: 1920px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  background: url(../images/bg.jpg) no-repeat;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 560px;
  min-height: 100vh;
  padding: 0 95px;
  background-color: #F9FAFF;
}

.form-restorePassword {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 8vh;
}

/* Скрытие элементов */
.hidden {
  display: none;
}

/* =====================FORM====================== */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  color: #202225;
}

.title-signUp {
  margin-top: 90px;
}

.title-signIn {
  margin-top: 18.2vh;
}

.title-restorePassword {
  margin-top: 18.2vh;
}

.form-body {
  margin: 20px 0;
}

.link-signIn, .link-signUp {
  margin-left: 20px;
}

@media (max-width: 600px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: url(../images/bg-mobile.jpg) no-repeat;
    background-size: contain;
  }
  .form {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 72px;
    width: 100%;
    padding: 0 5.5vh;
    border-radius: 24px 24px 0px 0px;
  }
  .form-title {
    margin-top: 6vh;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  .form-body {
    margin: 16px 0;
  }
  .form-text {
    width: 100%;
    height: 38px;
    font-size: 12px;
  }
  input {
    width: 100%;
    height: 40px;
    font-size: 15px;
    line-height: 140%;
    margin: 12px 0;
  }
  .input-name {
    background: url(../images/user.png) no-repeat center left 15px;
    padding-left: 48px;
    background-color: #FFFFFF;
  }
  .input-email {
    background: url(../images/Vector.png) no-repeat center left 15px;
    padding-left: 48px;
    background-color: #FFFFFF;
  }
  .warning {
    position: absolute;
    top: 35px;
    font-size: 13px;
  }
  .input-password,
  .input-confirmPassword {
    background: url(../images/lock.png) no-repeat center left 15px;
    padding-left: 48px;
    background-color: #FFFFFF;
  }
  .password-control {
    top: 20px;
    right: 20px;
  }
  .input-submit {
    width: 123px;
    height: 46px;
    margin-top: 20px;
    border-radius: 8px;
    background: url(../images/angle-right-b.png) no-repeat center right 16px, #7297FF;
    padding-right: 30px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 48px;
  }
  .footer a {
    margin: 0;
  }
  .link-signIn, .link-signUp {
    margin-left: 0px;
  }
}

@media (max-width: 565px) {
  .wrapper {
    padding: 0;
  }
  .header {
    margin: 0 24px;
    padding: 16px 0;
  }
  .header_user-info {
    display: none;
  }
  .main {
    padding: 40px 24px;
  }
  .menu_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu_item {
    width: 120px;
    margin: 0px;
  }
  .menu_item:first-child {
    margin-right: 24px;
  }
  .item-link {
    line-height: 130%;
  }
  .board {
    margin-top: 45px;
  }
  .board_title {
    font-size: 20px;
  }
  .board_empty {
    margin-top: 73px;
  }
}

@media (max-width: 800px) {
  .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 20px;
    margin-bottom: 24px;
    min-width: 406px;
    height: 264px;
  }
}
/*# sourceMappingURL=style.css.map */