<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/sourse/scss/normalize.css">
    <link rel="stylesheet" href="./sourse/scss/style.css">
    <script defer src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script defer src="./index.js"></script>
    <title>ITRex-Lab. Homework 1</title>
</head>
<body>
    <div class="container">
            <div class="form form-restorePassword">
                <div class="form-title title-restorePassword">
                    <img src="./sourse/images/angle-left-b.png" alt="arrow-left">
                    <p class="title-text">Restore Password</p>
                </div>

                <div class="form-text text-restorePassword">
                    <p>Please use your email address, and we’ll send you the link to reset your password</p>
                </div>

                <div class="form-body body_restorePassword">

                    <form action="./restoredPassword.html">
                        <div>
                            <input class="input-email" id="emailrestorePassword" type="text" placeholder="Email">
                        </div>
                       
                        <button class="input-submit submit-restorePassword" id="submit-restorePassword" type="submit" value="Send Reset Link">Send Reset Link</button>
                    </form>
                </div>

            </div>
    </div>
</body>
</html>
