@media (max-width: 600px) {
    .container {
        flex-direction: column;
        background: url(../images/bg-mobile.jpg) no-repeat;
        background-size: contain; 
    }
    .form {
        justify-content: flex-start;
        align-items: stretch;
        margin-top: 72px;
        width: 100%;
        padding: 0 5.5vh;
        border-radius: 24px 24px 0px 0px;
    }
    .form-title {
        margin-top: 6vh;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }

    .form-body {
        margin: 16px 0;
    }
    .form-text {
        width: 100%;
        height: 38px;
        font-size: 12px;
    }
    input {
        width: 100%;
        height: 40px;
        font-size: 15px;
        line-height: 140%;
        margin: 12px 0;
    }
    .input-name {
        background: url(../images/user.png) no-repeat center left 15px;
        padding-left: 48px;
        background-color: #FFFFFF;
    }
    .input-email {
        background: url(../images/Vector.png) no-repeat center left 15px;
        padding-left: 48px;
        background-color: #FFFFFF;
    }
    .warning {
        position: absolute;
        top: 35px;
        font-size: 13px;
    }
    .input-password,
    .input-confirmPassword
    {
        background: url(../images/lock.png) no-repeat center left 15px;
        padding-left: 48px;
        background-color: #FFFFFF;
    }
    .password-control {
        top: 20px;
        right: 20px;
    }
    .input-submit {
        width: 123px;
        height: 46px;
        margin-top: 20px;
        border-radius: 8px;
        background: url(../images/angle-right-b.png) no-repeat center right 16px, #7297FF;
        padding-right: 30px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 48px;
        a {
            margin: 0;
        }
    }
    .link-signIn, .link-signUp {
        margin-left: 0px;
    }
}

// ========MEDIA FOR DOCTOR VIEW===========

@media (max-width: 565px) {
   .wrapper {
        padding: 0;
   }

   .header {
        margin: 0 24px;
        padding: 16px 0;  
   }

   .header_user-info {
        display: none;
   }

   .main {
        padding: 40px 24px;
   }

   .menu_container {
        display: flex;
   }
   .menu_item {
        width: 120px;
        margin: 0px;
   }

   .menu_item:first-child {
       margin-right: 24px;
   }

   .item-link {
        line-height: 130%;
   }

   .board {
        margin-top: 45px;
    }

   .board_title {
        font-size: 20px;
   }

   .board_empty {
        margin-top: 73px;
   }


   
}

@media (max-width: 800px) {
    .card-item {
        display: flex;
        margin-right: 20px;
        margin-bottom: 24px;
        min-width: 406px;
        height: 264px;
    }

}