.footer {
    display: flex;
    margin-top: 85px;
    
    span {
        font-weight: normal;
        font-size: 15px;
        line-height: 140%;
        color: #A1ABC9;
    }
}
.footer_signIn {
    margin-top: 24vh;
}