input {
    width: 368px;
    height: 56px;
    margin: 20px 0;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid #DCE0EC;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}


.input-email {
    background: url(../images/Vector.png) no-repeat center left 20px;
    padding-left: 63px;
}
.password {
	position: relative;
}

.input-password {
    background: url(../images/lock.png) no-repeat center left 20px;
    padding-left: 63px;
}
.input-name {
    background: url(../images/user.png) no-repeat center left 20px;
    padding-left: 63px;
}

.password-control {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 39px;
    right: 25px;
    background: url(../images/eye-slash.png) no-repeat center;

}
.input-confirmPassword {
    background: url(../images/check.png) no-repeat center left 20px;
    padding-left: 63px;
} 
.input-submit {
    width: 146px;
    height: 56px;
    margin-top: 44px;
    border-radius: 8px;
    background: url(../images/angle-right-b.png) no-repeat center right 20px, #7297FF;
    padding-right: 32px;
    color: #FFFFFF;
    cursor: pointer;
}

