input {
    width: 368px;
    height: 56px;
    margin: 20px 0;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid #DCE0EC;
    border-radius: 8px;
 
    outline: none;
    cursor: pointer;
    &:focus {
        border: 1px solid #7297FF;
    }
}

.input-email {
    background: url(/sourse/images/Vector.png) no-repeat center left 20px;
    padding-left: 63px;
    background-color: #FFFFFF;
}


.input-password {
    background: url(/sourse/images/lock.png) no-repeat center left 20px;
    padding-left: 63px;
    background-color: #FFFFFF;
}
.input-name {
    background: url(/sourse/images/user.png) no-repeat center left 20px;
    padding-left: 63px;
    background-color: #FFFFFF;
}
.input-confirmPassword {
    background: url(/sourse/images/check.png) no-repeat center left 20px;
    padding-left: 63px;
    background-color: #FFFFFF;
} 
.password-control {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 39px;
    right: 25px;
    background: url(/sourse/images/eye-slash.png) no-repeat center;

}

.view {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 39px;
    right: 25px;
    background: url(/sourse/images/eye.svg) no-repeat center;
}

.input-submit {
    width: 146px;
    height: 56px;
    margin: 44px 0 32px;
    border-radius: 8px;
    background: url(/sourse/images/angle-right-b.png) no-repeat center right 20px, #7297FF;
    padding-right: 32px;
    color: #FFFFFF;
    cursor: pointer;
}
.email,
.password {
	position: relative;
}

.arrowLeft {
    width: 25px;
    background: url(/sourse/images/angle-left-b.png) no-repeat;
}
