.form-restorePassword {
    padding-top: 178px;
}

.title-restorePassword {
    display: flex;
}

.title-text {
    margin-left: 16px;
}

.form-text {
    width: 368px;
    height: 38px;
    margin: 32px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%; 
    color: #A1ABC9;
}
#submit-restorePassword {
    width: 214px;
}