.warning {
    position: absolute;
    top: 65px;
}
.warning-text {
    margin: 20px 0;
    font-size: 13px;
    letter-spacing: -0.24px;
    color: #F6657F;
}

.warningInput {
    border: 1px solid #F6657F;
}